.chirpLogo{
    width: 20vh;
}

.NavContainer{
    display:flex;
    justify-content: center;
}

/* header styles  */
.headerContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:30px;
    gap:20px;
}

.headerDetails{
    display: flex;
    color:white;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.headerButtonContainer{
    display: flex;
    gap:40px;
    justify-content: center;
    align-items: center;
}

.headerBtn{
background-color:#282828;
border-style:solid;
border-color:transparent;
color:white;
padding:13px;
width:140px;
border-radius:10px;
}

.headerOthers{
    color: white;
    text-decoration: none;
}


@media screen and (max-width:750px) {
    .headerImg{
        width:90vw;
    }

    .headerContainer{
        gap:5px;
    }
    .headerButtonContainer{
        flex-direction: column;
        gap:15px;
    }     
    
    .headerBtn{
        width: 300px;
        font-size:14px;
    }
}